@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --app-color-primary: #265f00;
  --app-color-secondary: #60a5fa;
  --app-color-hover: #aaefdf;
  --app-color-border-grey: #bbbbbb;
  --app-color-grey: #b3b3b3;
  --app-color-light: #effdfa;
  --app-color-dark: #1a2523;
}

.dark {
  --app-color-primary: #a3e635;
  --app-color-secondary: #3f79f7;
  --app-color-hover: #334155;
  --app-color-border-grey: #444;
  --app-color-grey: #888;
  --app-color-light: #1a2523;
  --app-color-dark: #f3f4f6;
}

@theme static {
  --color-primary: var(--app-color-primary);
  --color-secondary: var(--app-color-secondary);
  --color-hover: var(--app-color-hover);
  --color-border-grey: var(--app-color-border-grey);
  --color-light: var(--app-color-light);
  --color-dark: var(--app-color-dark);
}

.body-text {
  font-size: 1rem;
  color: var(--app-color-dark);

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}

.body-link {
  color: var(--app-color-primary);
  font-weight: 700;
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: var(--app-color-primary);
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  text-align: center;
  color: var(--app-color-primary);
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  text-align: center;
  color: var(--app-color-primary);
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  text-align: center;
  color: var(--app-color-primary);
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    text-align: left;
    font-size: 2.25rem;
  }

  h3 {
    text-align: left;
    font-size: 2rem;
  }

  h4 {
    text-align: left;
    font-size: 1.5rem;
  }
}

.btn-primary {
  padding: 0.75rem 1.5rem;
  background-color: var(--app-color-primary);
  color: var(--app-color-light);
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125rem;
  transition: all 0.2s;
}

.btn-secondary {
  padding: 0.75rem 1.5rem;
  background-color: var(--app-color-secondary);
  color: var(--app-color-dark);
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125rem;
  transition: all 0.2s;
}

.btn-unselected {
  padding: 0.75rem 1.5rem;
  background-color: var(--app-color-light);
  color: var(--app-color-dark);
  border: 1px solid var(--app-color-border-grey);
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125rem;
  transition: all 0.2s;
}

.btn-unselected-small {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.btn-disabled {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  background-color: var(--app-color-light);
  color: var(--app-color-dark);
  border: 1px solid var(--app-color-border-grey);
  border-radius: 0.5rem;
  font-weight: 600;
  opacity: 0.4;
  cursor: not-allowed;
}

.btn-primary:hover {
  text-decoration: underline;
  text-decoration-color: var(--app-color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  color: var(--app-color-primary);
  background-color: var(--app-color-hover);
}

.btn-secondary:hover {
  text-decoration: underline;
  text-decoration-color: var(--app-color-secondary);
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  color: var(--app-color-secondary);
  background-color: var(--app-color-hover);
}

.btn-unselected:hover {
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  color: var(--app-color-light);
  background-color: var(--app-color-secondary);
}

.btn-sm {
  padding: 0.5rem 1rem !important;
  font-size: 0.875rem !important;
}

.btn-category {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .btn-category {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
  }
}