@import "tailwindcss";
@import "@nuxt/ui";

:root{
    --color-primary: #265F00;
    --color-secondary: #AAEFDF;
    --color-light: #EFFDFA;
    --color-dark: #1A2523;
}

@theme static {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-light: var(--color-light);
    --color-dark: var(--color-dark);
}

.body-text{
    font-size: 1.5rem;
    color: var(--color-dark);
    @media (max-width: 640px) {
        font-size: 1.2rem;
    }
}

.body-link{
    color: var(--color-primary);
    font-weight: 700;
    text-decoration: underline;
}