###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost:8000
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://portfolio:PortfolioWill2025!@db:3306/portfolio?serverVersion=8.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###
